body{
    background-color: black;
    color: rgb(0, 255, 255);
}

header{
    font-size: 50px;
    text-align: center;
}
.top1{
background-color: white;
text-align:center;
padding: 40px;
}

    





















































